{% extends "base.html" %}
{% block content %}
    <div class="row clearfix">
        <br>
        <br>
        <br>
        <div class="col-md-12 column">
            <form method="post" action="post/">{% csrf_token %}
                <div class="col-md-8 col-md-offset-2 fieldWrapper">
                    {{ form.url.errors }}
                    {{ form.url }}
                </div>
                <div class="col-md-8 col-md-offset-2 fieldWrapper">
                    {{ form.tag.errors }}
                    {{ form.tag }}
                </div>
                <div>
                    <input type="submit" value="post">
                </div>
            </form>
        </div>
        <h3>&nbsp;</h3>
        <div class="col-md-12 column">
            {% for article in articles %}
            <div class="well">
                <h3 class="text-info">{{ article.title }}</h3>
                <a href="{{ article.url }}">{{ article.url }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
